/* Global base styles */
@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@400;700&display=swap");

:root {
	--bg-1: hsla(148, 50%, 46%, 1);
	--text-1: white;
	--bg-2: hsla(195, 84%, 12%, 1);
	--text-2: white;
	--button-1: hsla(48, 75%, 52%, 1);
	--button-1-text: white;
	--card-bg-1: hsla(48, 75%, 52%, 0.6);
	--card-bg-2: hsla(346, 84%, 44%, 0.7);
	--accent-1: hsla(346, 84%, 44%, 1);
	--carmine-m-p: hsla(346, 84%, 44%, 1);
	--green-blue-crayola: hsla(207, 70%, 48%, 1);
	--saffron: hsla(48, 75%, 52%, 1);
	--medium-sea-green: hsla(148, 50%, 46%, 1);
	--gunmetal: hsla(195, 84%, 12%, 1);
}

* {
	box-sizing: border-box;
}

body {
	background: var(--bg-1);
	color: var(--text-1);
	font-family: "Andika New Basic", Georgia, "Times New Roman", Times, serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Merienda";
}

input,
button {
	margin: 0;
	padding: 0.7rem 0.8rem;
	border: 0;
	font-size: 0.9rem;
	transition: filter 0.2s ease-in-out;
}

input:hover,
button:hover {
	filter: opacity(0.9) brightness(1.15);
}

button:hover {
	cursor: pointer;
}

button {
	width: clamp(3rem, 5rem, 7rem);
	background: var(--button-1);
}

.fas {
	color: var(button-1-text);
}

.fa-youtube {
	color: hsla(0, 100%, 50%, 1);
}

.flex-wrapper {
	display: flex;
}

.home-container {
	margin: auto;
	width: 100%;
	text-align: center;
}

/* Search Component */

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search__form {
	width: clamp(15rem, 30rem, 80%);
}

.search__input {
	flex: 1 0 auto;
	border-radius: 0.3rem 0 0 0.3rem;
	border-right: 0;
}

.search__submit {
	border-left: 0;
	border-right: 0;
}

.search__random {
	margin-left: 0.5rem;
	border-radius: 0.3rem;
}

/* Search results styles */
.search-results {
	position: relative;
}

.search-results-heading__text--term {
	color: var(--accent-1);
	font-size: 130%;
}

.search-results__meals {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: clamp(320px, 80vw, 100%);
	margin: auto;
}

/* Meal card styles */
.recipe-card {
	display: flex;
	flex-direction: column;
	flex: 1 2 15rem;
	position: relative;
	max-width: 20rem;
	height: clamp(12rem, 15rem, 20rem);
	margin: 0.2rem;
	border-radius: 1rem;
	overflow: hidden;
}

.recipe-card__name {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: hsla(0, 0%, 0%, 0.5);
	font-size: 1.2rem;
}

.recipe-card__info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	background-size: 100%;
	font-size: 0.9rem;
	transition: background-size 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.recipe-card__info:hover {
	cursor: pointer;
	background-size: 103%;
	filter: brightness(115%);
}

.recipe-card__info-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: hsla(0, 0%, 0%, 0.3);

	font-size: 0.8rem;
}

.recipe-card__area {
	flex: 1 1 50%;
	font-family: "Merienda";
	background: var(--card-bg-2);
}

.recipe-card__category {
	flex: 1 1 50%;
	background: var(--card-bg-1);
}

/* Selected meal details */
.selected-meal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.8);
	color: white;
}

.selected-meal__info {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	background: hsla(0, 0%, 0%, 0.5);
}

.selected-meal__title-container {
	display: flex;
	align-items: center;
	margin: auto;
	height: 100%;
}

.selected-meal__youtube {
	margin: 0 1rem;
	font-size: 3rem;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.selected-meal__youtube:hover {
	opacity: 0.85;
	transform: scale(0.95);
}

.selected-meal--close-button {
	justify-self: flex-start;
	height: 100%;
	padding: 0;
	font-size: 2rem;
	transition: filter 0.3s ease-in-out;
}

.selected-meal--close-button:hover {
	filter: brightness(1.1);
}

.selected-meal__body {
	padding: 0 1rem;
}
.selected-meal__top {
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: center;
}

.selected-meal__ingredients {
	flex: 1 1 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 30rem;
}

.selected-meal__ingredients-title {
	font-size: 1.8rem;
	margin: 0;
}

.selected-meal__ingredient-list {
	list-style: none;
	text-align: left;
	font-size: 1.2rem;
}

.selected-meal__image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 20rem;
	max-width: 30rem;
	margin: 2rem;
	border-radius: 0.3rem;
}

.selected-meal__image {
	flex: 1 1 auto;
	max-width: 100%;
	margin: 2rem 2rem 0 2rem;
	border-radius: 0.3rem;
}

.selected-meal__instructions {
	text-align: left;
	padding: 1rem;
}

/* Modification Classes */
.closed {
	display: none;
}

.open {
	display: block;
}

// . @media (max-width: 800px) {
// }

@media (max-width: 700px) {
	.search__input {
		font-size: 0.9rem;
	}
}

@media (max-width: 500px) {
	.search__input {
		font-size: 0.8rem;
	}
}
