:root {
	--bg-1: hsla(148, 50%, 46%, 1);
	--text-1: white;
	--bg-2: hsla(195, 84%, 12%, 1);
	--text-2: white;
	--button-1: hsla(48, 75%, 52%, 1);
	--button-1-text: white;
	--border-1: 
	--border-1: #2d2013;
	--carmine-m-p: hsla(346, 84%, 44%, 1);
	--green-blue-crayola: hsla(207, 70%, 48%, 1);
	--saffron: hsla(48, 75%, 52%, 1);
	--medium-sea-green: hsla(148, 50%, 46%, 1);
	--gunmetal: hsla(195, 84%, 12%, 1);
}

* {
	box-sizing: border-box;
}

body {
	background: var(--bg-1);
	color: var(--text-1);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

.home-container {
	margin: auto;
	width: 100%;
	text-align: center;
}

input,
button {
	margin: 0;
	padding: 0.7rem 0.8rem;
	border: 1px solid var(--border-1);
	font-size: 0.9rem;
}

button {
	width: clamp(3rem, 5rem, 7rem);
	background: var(--button-1);
}

.fas {
	color: var(button-1-text);
}

.flex-wrapper {
	display: flex;
}

/* Search Component */

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search__form {
	width: clamp(15rem, 30rem, 80%);
}

.search__input {
	flex: 1 0 auto;
	border-radius: 0.3rem 0 0 0.3rem;
	border-right: 0;
}

.search__submit {
	flex: 0 1 auto;
	cursor: pointer;
	border-left: 0;
	border-right: 0;
}

.search__random {
	margin-left: 0.5rem;
	flex: 0 1 auto;
	border-radius: 0.3rem;
	cursor: pointer;
}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
	.search__input {
		font-size: 0.9rem;
	}
}

@media (max-width: 500px) {
	.search__input {
		font-size: 0.8rem;
	}
}
